<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\Trabalho-Pr-tico-Eletiva\assets\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(142, 142, 142)">
    <header class="topohome">
        <div class="logo">
            <img src="\Trabalho-Pr-tico-Eletiva\assets\img\logo.png" alt="Logo Xhopii">
            <span>Xhopii</span>
        </div>
        <a href="Login.html" class="sair">Sair</a>
    </header>

    <div class="subtopo">
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="home.html">Cadastro Cliente</a></li>
            <li><a href="home.html">Cadastro Funcionário</a></li>
            <li><a href="home.html">Cadastro Produto</a></li>
            <li><a href="home.html">Ver Clientes</a></li>
            <li><a href="home.html">Ver Funcionários</a></li>
            <li><a href="home.html">ver Produtos</a></li>
        </ul>
    </div>

    <main class="maincd">
        <div class="form-card">
            <h2>Cadastrar Cliente</h2>
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="text" placeholder="Sobrenome" required>
                <input type="text" placeholder="CPF" required>
                <input type="date" required>
                <input type="tel" placeholder="Telefone" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>

                <label class="upload-label">Selecionar foto de perfil:</label>
                <input type="file">

                <button type="submit">CADASTRAR</button>
            </form>
        </div>
    </main>


    <footer class="footerrs">
        <div class="footerrs-section">
            <h4>ATENDIMENTO AO CLIENTE</h4>
            <ul>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Métodos de Pagamento</a></li>
                <li><a href="#">Garantia Xhopii</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
            </ul>
        </div>

        <div class="footerrs-section">
            <h4>SOBRE A XHOPII</h4>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Políticas Xhopii</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Programa de Afiliados</a></li>
                <li><a href="#">Seja um Entregador</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
                <li><a href="#">Xhopii Blog</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
        </div>

        <div class="footerrs-section">
            <h4>PAGAMENTO</h4>
            <div class="paymentsrs">
                <img src="\Trabalho-Pr-tico-Eletiva\assets\img\visa.png" alt="Visa">
                <img src="\Trabalho-Pr-tico-Eletiva\assets\img\mastercard.png" alt="Mastercard">
                <img src="\Trabalho-Pr-tico-Eletiva\assets\img\elo.png" alt="Elo">
                <img src="\Trabalho-Pr-tico-Eletiva\assets\img\american-express.png" alt="Amex">
            </div>
        </div>

        <div class="footerrs-section">
            <h4>SIGA-NOS</h4>
            <ul class="links-sociais">
                <li><a href="#"><img src="\Trabalho-Pr-tico-Eletiva\assets\img\instagram.png" alt="Instagram"> Instagram</a></li>
                <li><a href="#"><img src="\Trabalho-Pr-tico-Eletiva\assets\img\twitter.png" alt="Twitter"> Twitter</a></li>
                <li><a href="#"><img src="\Trabalho-Pr-tico-Eletiva\assets\img\facebook.png" alt="Facebook"> Facebook</a></li>
                <li><a href="#"><img src="\Trabalho-Pr-tico-Eletiva\assets\img\youtube.png" alt="YouTube"> YouTube</a></li>
                <li><a href="#"><img src="\Trabalho-Pr-tico-Eletiva\assets\img\linkedin.png" alt="LinkedIn"> LinkedIn</a></li>
            </ul>
        </div>

        <div class="footerrs-section">
            <h4>BAIXE O APP</h4>
            <img class="storers" src="\Trabalho-Pr-tico-Eletiva\assets\img\google-play.png" alt="Google Play">
            <img class="storers" src="\Trabalho-Pr-tico-Eletiva\assets\img\app-store.png" alt="App Store">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>